<app-header></app-header>
<div class="container-fluid">
  <h4 class="border-bottom border-success p-2">My Cart</h4>
  @if (count===0) {
    <div class="text-danger">No Items in Cart</div>
  }

  @if (count>0) {
    <div class="row">
      <div class="col-sm-7">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (p of list; track p) {
              <tr>
                <td>
                  <img
                    src="http://localhost:8080/{{ p.product.photo }}"
                    style="width: 80px"
                    class="mr-2 float-left"
                    />{{ p.product.pname }}<br />
                    ({{ p.product.category.catname }})
                  </td>
                  <td>{{ p.product.price }}</td>
                  <td>
                    <button
                      (click)="updateqty(p.id, p.qty - 1)"
                      class="btn btn-sm btn-info"
                      >
                    -
                  </button>
                  {{ p.qty }}
                  <button
                    (click)="updateqty(p.id, p.qty + 1)"
                    class="btn btn-sm btn-info"
                    >
                    +
                  </button>
                </td>
                <td>{{ p.product.price * p.qty }}</td>
                <td>
                  <button
                    (click)="removefromcart(p.id)"
                    class="btn btn-danger btn-sm"
                    >
                    Remove
                  </button>
                </td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th colspan="3" class="text-right">{{ total }}</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5>Check Out</h5>
            <form [formGroup]="fg" (submit)="placeorder(fg.value)" novalidate>
              <h6>Address Details</h6>
              <div class="form-group form-row">
                <div class="col-sm-6">
                  <label>City Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    formControlName="city"
                    name="city"
                    />
                </div>
                <div class="col-sm-6">
                  <label>State</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="State"
                    formControlName="state"
                    name="state"
                    />
                </div>
              </div>
              <div class="form-group form-row">
                <div class="col-sm-6">
                  <label>Country</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Country"
                    formControlName="country"
                    name="country"
                    />
                </div>
                <div class="col-sm-6">
                  <label>Zip</label>
                  <input
                    type="text"
                    maxlength="6"
                    class="form-control"
                    placeholder="Zip code"
                    formControlName="zip"
                    name="zip"
                    />
                </div>
              </div>
              <h6>Payment Details</h6>
              <div class="form-group">
                <label>Card No</label>
                <input
                  type="text"
                  class="form-control"
                  maxlength="16"
                  placeholder="16-digit Card No"
                  formControlName="cardno"
                    name="cardno"
                  />
              </div>
              <div class="form-group">
                <label>Name on Card</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name on card"
                  formControlName="nameoncard"
                    name="nameoncard"
                  />
              </div>
              <div class="form-group form-row">
                <div class="col-sm-4">
                  <label>Expiry Date</label>
                  <input
                    type="month"
                    class="form-control"
                    placeholder="Name on card"
                    />
                </div>
                <div class="col-sm-4">
                  <label>CVV</label>
                  <input
                    type="text"
                    maxlength="3"
                    class="form-control"
                    placeholder="CVV"
                    />
                </div>
                <div class="col-sm-4">
                  <label>Amount</label>
                <input
                  type="text"
                  readonly
                  class="form-control"
                  value="{{ total }}"
                  />
                </div>
              </div>
              
              <button
                type="submit"
                class="btn btn-success float-right"
                >
                Place Order
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  }
</div>
